<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            name="Color Preference Page"
            class="com.ausy.rental.ui.prefs.ColorPrefPage"
            id="com.ausy.rental.ui.ColorPrefPage">
      </page>
   </extension>
   <extension
         id="com.ausy.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
